html, body {
  margin: 1em;
  padding: 0;
}

iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 33em;
  border: 2px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#markdown img {
  max-width: 42em;
}

pre, pre code {
  background: #b1b1b1;
}

pre {
  padding: 1em 0.33em 1em 0.33em;
  overflow: scroll;
}

code {
  background-color: #e0e0e0;
  line-height: 1.5em;
}
